.formulaire_spip .submit, .formulaire_spip .reset, .formulaire_spip .button,
.bouton_action_post .submit, #pave_selection input[type=submit]
{
  @extend .btn;
}

.formulaire_spip .reset, .formulaire_spip .button, .bouton_action_post .submit {
  @extend .btn-default;
}


.formulaire_spip .submit {
  @extend .btn-primary;
}

.formulaire_spip .supprimer, .formulaire_spip .delete, .urls .bouton_action_post .submit{
  @extend .btn-danger;
}

.bg-light .card-footer a {
	color: #fff !important;
}

#pave_selection input[type=submit] {
  @extend .btn-primary;
  @extend .btn-sm;
}

.ico-edit, .ico-add, .ico-new, .ico-del {
	position: relative;
	&:after {
		position: absolute;
		top: 25%;
		left: 0;
		width: 100%;
		text-align: center;
		text-align: center;
		content: "\f067";
		font-size: 50%;
		color: #fff;
	}
}

.ico-edit:after {
	content: "\f304";
}

.ico-del:after {
	content: "\f068";
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
	.ico-edit:after, .ico-add:after, .ico-new:after, .ico-del:after {
		color: $value;
	}
  }
}