
.card {
	.infos {
		.numero {
			text-align: center;
			font-weight: 700;
			p {
				font-size: 4rem;
			    white-space: nowrap;
			    margin-top: 0;
			    line-height: 1;
			}
		}
		.formulaire_instituer .show {
			margin: 0 -1.25rem;
			padding: 1.25rem;
		}
		.instituer_objet {
			margin: 0 -1.25rem;
		}
	}
	.formulaire_spip {
	    border: 0;
	    border-radius: 0;
	    box-shadow: none;
	    margin: 0;
	}
}
.navigation {
	.formulaire_spip {
		.editer {
			padding: 1.25rem;
			label {
				float: none;
				margin: 0;
				display: block;
				width: 100%;
			}
		}
		.editer_statut {
			padding-bottom: 0;
		}
		.sourceup {
			padding: 1.25rem;
			font-size: 80%;
		}
		padding-bottom: 0;
	}
}

.editer_identification .alert {
	margin: 0 1rem;
}

.card-objet {
	.champ {
		font-size: 80%;
	    font-weight: 400;
	    color: $gray-600!important;
		div {
			display: inline;
		}
		&.vide {
			display: none;
		}
	}
}
.card-auteur {
	.contenu_nom {
		display: none;
	}
}

.fiche_objet .editer_urls 
{
	font-size: 0.75rem;
	.link {
		background: none;
		padding: 0;
		display: inline-block;
		&:before {
	      @extend %fa-icon;
	      @extend .fas;
	      content: fa-content($fa-var-link);
	      padding-right: 0.5rem;
		}
		.edit {
			padding-left: 0.5rem;
		}
		margin-bottom: 0.5rem;
	}
	.liste-objets table caption strong.caption {
		font-size: 0.75rem;
	}
}

.card-url {
	.card-body {
		padding-bottom: 0;
	}
	.formulaire_spip {
		margin-bottom: 0 !important;
	}
}

.edit-fullscreen {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
