
.formulaire_spip, #pave_selection {
  margin: 0 0 1rem;
  padding: 0;
  @extend .card;
  @include box-shadow($card-shadow);
}
.formulaire_spip {
    padding: 0 1.25rem;
    .editer-groupe, fieldset, fieldset .editer-groupe, .boutons, .titrem, .legend {
    	padding: 0;
    	margin: 0;
    }
    h3.titrem {
        @extend .card-header;
        @extend .card-title;
        margin: 0 -1.25rem 0.75rem;
        color: $body-color;
        text-transform: none;
	    img {
	    	display: none;
	    }
	}
    .boutons {
        margin: 0 -1.25rem;
        padding: .75rem 1.25rem;
	    background-color: rgba(0,0,0,.03);
	    border-top: 0 solid rgba(0,0,0,.125);
    }
    .editer_logo_on, .editer_logo_off {
    	padding: 1rem 0 0;;
    	text-align: center;
    	input.submit.supprimer {
		    padding: .25rem .5rem;
		    font-size: .875rem;
    	}
    }
}
.card .formulaire_spip {
    padding: 0;
}
#pave_selection {
	.liste-objets {
		box-shadow: none;
	}
}